:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* ← to wymusza pełną wysokość */
  background-image: url('../../assets/images/strona.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.booking-form {
  max-width: 500px;
  width: 200%;
  margin: 80px auto; /* wyśrodkowanie pionowo i poziomo */
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.booking-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.booking-form form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* odstęp między polami */
}

.booking-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 16px;
}

.booking-form input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
}

.booking-form button {
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.booking-form button:hover {
  background-color: #0056b3;
}
